.instrument-container {
    height: 900px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0;
    padding: 0;

    .instrument-container-row {
        height: 900px;
        max-width: 100%;
        font-family: 'Arvo', serif;
        background: rgb(26, 25, 25);
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0;
        padding: 0;

        .instrument-container-title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;;
        }
        .instrument-container-row-col1 {
            height: 800px;
            font-family: 'Arvo', serif;
            border: 1px solid rgb(222, 225, 236);
            display: flex;
            flex-direction: row;

            .instrument-container-row-col1-brand-filter {
                padding-top: 40px;

                .brand-filter:hover {
                    cursor: pointer;
                }

                .brand-filter-container {
                    min-height: 200px;
                    border: 1px solid rgb(222, 225, 236);
                    height: auto;
                    color: white;
                    margin-bottom: 5px;
                }
            }
        }
        
        
        .instrument-container-row-col2 {
            min-width: 25%;
            height: 800px;
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 40px 15px;
            overflow: scroll;
            border: 1px solid rgb(222, 225, 236);

            .instrument-item {
                width: 15vw;
                display: flex;
                flex-direction: column;
                height: 350px;
                align-items: center;
                position: relative;
                padding: 40px 10px;
            
                .image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                margin-bottom: 5px;
                }
            
                &:hover {
                .image {
                    opacity: 0.8;
                }
            
                .custom-button {
                    opacity: 0.85;
                    display: flex;
                }
                }
            
                .instrument-footer {
                width: 100%;
                height: 5%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 15px;
            
                .name-model {
                    width: 80%;
                    margin-bottom: 1px;
                }
            
                .price {
                    width: 10%;
                }
                .condition {
                    width: 10%;
                }
                }
            }
        }
    }

}  